name: ci

on:
  push:
    branches:
      - 'main'
    tags:
      - '*'

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  bake:
    runs-on: ubuntu-latest
    timeout-minutes: 360
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2
        with:
          driver-opts: |
            image=moby/buildkit:v0.11.1
            network=host
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Set TAG Environment Variable
        run: |
          echo "TAG=$GITHUB_REF_NAME" >> $GITHUB_ENV
      -
        name: Build and push
        run: |
          docker buildx bake --builder ${{ steps.buildx.outputs.name }} ci --push
          docker buildx imagetools create -t islandora/imagemagick:${TAG} islandora/imagemagick:${TAG}-amd64 islandora/imagemagick:${TAG}-arm64
